html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 58px;
  padding-bottom: 50px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
a{
color: #999;
text-decoration: none;
}
a:hover, a:focus {
text-decoration: none;
color: #FF6600;
}
.carousel{
max-width: 1000px;
}
.smallpad{
padding: 4px 4px;
background-color: #00f;
}
.nopad{
	margin-left: 0px;
}
.center{
	text-align:center;
}
.imgcenter{
	margin: 0 auto;
}
.vcenter{
	display:flex;
	align-items: center;
}
.down{
		margin-bottom: 0px;
		padding-bottom: 0px;
}
.low{
		margin-bottom: 10px;
		padding-bottom: 0px;
}
.vpad{
  padding-top: 3px;
}
.navbar{
max-height: 45px !important;
}
.navbar-brand{
	text-align: center;
	left: 0;
	position: absolute;
	width: 100%;
}
.leftpad{
	margin-left: 15px;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 33px;
  background-color: #fff;
  text-align:center;
}
.white{
	background-color:#fff !important;
}
.carousel{
background-color:#111;
}
.carousel-caption{
color: #555;
padding-bottom: 0px !important;
}
.carousel-inner > .item > img{
	margin: 0 auto;
	max-height: 78%;
	max-width: 100%;
	margin-top: 2%;
	margin-bottom: 40px;
}
.carousel-indicators > li{
border: 2px solid #222;
background-color:#666;
}
.carousel-indicators > .active{
	background-color:#999;
}
.notborder{
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
border-bottom-left-radius: 0px !important;
border-bottom-right-radius: 0px !important;
}
.border{
border-top-left-radius: 4px !important;
border-top-right-radius: 4px !important;
}
.borderlow{
border-bottom-left-radius: 4px !important;
border-bottom-right-radius: 4px !important;
}
.list-group {
margin-bottom: 0px !important;
}
.lightgrey{
	background-color:#f5f5f5 !important;
}
.greytxt{
	color:#777 !important;
}
.carousel-indicators{
bottom: -5px !important;
}


  /* debug only classes. */
.foo{
	background-color:#f00 !important;
}
.ofo{
	background-color:#0f0;
}
.oof{
	background-color:#00f;
}
.fff{
	background-color:#fff;
}
.ooo{
	background-color:#000;
}